.topContent{
  height: 100vh;
  width: 100%;
  background: url("./main_logo.jpg") bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  p{
    color: white;
    font-size: 90px;
    opacity: .7;
    letter-spacing: 10px;
    font-family: 'Pacifico', cursive;
    position: absolute;
    top: 350px;
  }
}