@import "style/variables.scss";

.formAddPlace{
  display: flex;
  justify-content: center;

  
  .form-group{
    width: 400px;
    position: relative;

    .addImageGroup{
      height: 240px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    

      .addImage{
        height: 110px;
        width: 110px;
        border: 2px solid $color-gray;
        transition: all .6s;
        
        
        div{
          width: 100%;
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          position: relative;
          align-items: center;
          justify-content: center;

          p{
            position: absolute;
            bottom: 11px;
            color: $color-font-gray;
            font-weight: $font-weight-hi;
            font-size: 11px;
          }
  
          i{
            color: $color-gray;
            font-size: 30px;
            outline: none;
          }
        }
        img{
          height: 100%;
          width: 100%;
        }


        &:hover,
        &:focus{
          border: 2px solid $color-orange;
          box-shadow: 0px 0px 7px 0px $color-orange;
          opacity: .8;
  
        }
      }


    }

    div{
      position: relative;


      .imgPreview img{
        height: 100px;
        width: 100px;
      }

      .valid{
        height: 48px;
        width: 250px;
        display: block;
        position: absolute;
        right: -260px;
        top: 6px;
        display: flex;
        align-items: center;
      
        
        &-error{
          color: red;
          font-weight: bold;
        }
        &-acces{
          color: green;
          font-weight: bold;
        }
      }

    }
    input, select, textarea {
      font-family: inherit;
      width: 100%;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 2px solid $color-gray;
      padding: 15px 20px;
      transition: all .6s;
      color: rgba(0,0,0,0.6);
      letter-spacing: .5px;
      
      &:hover,
      &:focus{
        border: 2px solid $color-orange;
        box-shadow: 0px 0px 7px 0px $color-orange;
        opacity: .8;

      }

    &::placeholder{
      transition: all .6s;
    }
    &:hover::placeholder,
    &:focus::placeholder{
      color: $color-orange;
    }

    }
    select{
      cursor: pointer;
      
      option:nth-child(1){
        color: $color-orange;

      }

      option{
        color: black;
        letter-spacing: 3px;
      }

      &:hover,
      &:focus{
        border: 2px solid $color-orange;
        box-shadow: 0px 0px 7px 0px $color-orange;
        color: $color-orange;
        opacity: .8;
      }
    }
    textarea{
      min-height: 150px;
      font-family: inherit;
      font-size: inherit;
      letter-spacing: inherit;
    }
  }
}
