@import "style/variables.scss";

.rating{
  display: flex;
  margin-top: 3px;
  
  .icon{
    display: block;
    font-size: 12px;
    
    &:nth-child(5){
      margin-right: 5px;
    }
  &.false{
    color: $color-gray;
  }
  &.true{
    color: $color-orange;
  }
  }
}