@import "style/variables.scss";

.panelInfo{
  min-height: 140px;
  width: 100%;
  margin-top: 30px;
  border-left: 2px solid $color-gray-lighter;
  border-right: 2px solid $color-gray-lighter;
  border-bottom: 2px solid $color-gray-lighter;

  .up{
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
    // background-color: $color-gray-lighter;

    .icon{
      display: block;
      width: 50px;
      height: 50px;
      background-color: $color-orange;
      position: absolute;
      left: -2px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 18px;
    }

    .description{
      display: block;
      height: 50px;
      width: 100%;
      background-color: $color-gray-lighter;
      display: flex;
      align-items: center;
      padding-left: 70px;
      letter-spacing: .5px;
      color: $color-font-gray;
      font-size: $font-normal;
      font-weight: $font-weight-hi;
    }
  }
  .down{
    width: 100%;
    height: 100%;
    display: flex
  }
}