@import "style/variables.scss";

.btn{
  background: white;
  color: black;
  border: none;
  border-radius: $base-radius;
  height: 40px;
  font-size: $font-normal;
  padding: 0 10px;
  font-weight: 700;
  letter-spacing: .5px;
  font-weight: $font-weight-hi;
  // position: relative;
  cursor: pointer;

  &--color-orange{
    color: $color-orange;

    &:hover{
      box-shadow: inset 0px 0px 5px 0px rgba(242,101,34,0.75);
    }
  }
  &--color-gray{
    color: $color-font-gray;
    &:hover{
      box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.3);
    }
  
  }
  &--color-transparent{
    background: transparent;
    color: white;
  }
  &--size-bg{
    width: 230px;
  }
  &--size-sm{
    width: 125px;
  }
  &--size-res{
    width: 100%;
  }
  &--border-orange{
    border: 1px solid $color-orange;
    color:  $color-orange;
  }
  &--border-gray{
    border: 1px solid $color-gray;
    color: $color-font-gray;
    transition: all .4s;
    
    &:hover{
      border: 1px solid $color-orange;
      color: $color-orange;
      opacity: .9;
    }
  }

  .icon{
    margin-right: 8px;
    font-weight: 400;
  }
}
