.topScroll{
  position: absolute;
  bottom: 10%;
  color: white;

  .scroll{
    width: 30px;
    height: 60px;
    margin: 15px auto;
    position: relative;
   

    .topScroll{
      position: absolute;
      width: 30px;
      height: 30px;
      border: 2px solid;
      border-color: white white transparent transparent;
      border-radius: 50%;
      left: -2px;
      top: 0;
      transform: rotate(-45deg)
    }
    .middleScroll{
      position: absolute;
      top: 10px;
      width: 30px;
      height: 26px;
      border: 2px solid;
      border-color: transparent white;
      left: -2px;
      top: 13px;
    }
    .bottomScroll{
      position: absolute;
      width: 30px;
      height: 30px;
      border: 2px solid;
      border-color: transparent transparent white white;
      border-radius: 50%;
      left: -2px;
      bottom: 8px;
      transform: rotate(-45deg)
    }
    .arrow{
      position: absolute;
      width: 10px;
      height: 10px;
      border: 2px solid;
      border-color: transparent white white transparent;
      transform: rotate(45deg);
      left: 8px;
      top: 7px;
      animation: up-down 1s infinite cubic-bezier(0.755, 0.05, 0.855, 0.06);
    }

    @keyframes up-down {
      0%{top:7px;}
      70%{top: 32px;}
      100%{top: 9px;}
    }
  }
}