@import "style/variables.scss";

.panelInfoData{
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

  .oneData{
    height: 50px;
    width: 240px;
    display: flex;

    .img {
      height: 50px;
      width: 50px;
      background: pink;

      img{
        width: 100%;
        height: 100%;
      }
    }
    .info{
      padding-left: 14px;
      display: grid;
      align-content: center;
    }
    p{
      color: $color-orange;
      font-size: $font-normal;
      font-weight: $font-weight-hi;
    }
  }
}