@import "style/variables.scss";

.homePage{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 100px;
 

  main{
    width: 860px;
    margin-right: 30px;

    .bottom{
      width: 100%;
      height: 197px;
      display: flex;
      justify-content: space-between;

      .stats{
        width: 390px;
        height: 100%;
      }
      .activity{
        width: 390px;
        height: 100%;
      }
    }
  }
  aside{
    width: 310px;
  }
}