@import "style/variables.scss";

.viewPlacesBig{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $color-font-gray;

  &:first-child{
    border-top: 2px solid $color-font-gray; 
  }

  .photo{
    background: red;
    height: 150px;
    width: 150px
  }
  .info{
    background: green;
    height: 150px;
    width: 300px;
    
  }
  .map{
    background: orange;
    height: 150px;
    width: 150px

  }
}