@import "style/variables.scss";

.panelAlert{
  width: 860px;
  height: 80px;
  color: $color-font-gray;
  font-size: $font-bigger;
  font-weight: $font-weight;
  letter-spacing: .4px;
  padding: 0 17px;
  display: flex;
  background: white;
  color: black;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;


  &--color-gray{
    background: #e1e1e1;
    color: #818181;
  }
  &--color-orange{
    background: #f26522;
    color: white;
  }
}