@import "./reset.scss";

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");
@import url('https://fonts.googleapis.com/css?family=Pacifico');

@import "./typography.scss";
@import "./variables.scss";
@import "./body.scss";
