
/*---------    COLORS    ----------*/
$color-orange: #f26522;
$color-gray: #e1e1e1;
$color-gray-lighter: #ebebeb;
$color-font-gray: #818181;


/*---------    FONT-SIZE    ----------*/
$font-normal: 12px;
$font-bigger: 14px;

/*---------    FONT-WEIGHT    ----------*/
$font-weight: 400;
$font-weight-hi: 700;

$base-radius: 2px !default;
