@import "style/variables.scss";

.topMain{
  width: 100%;
  height: 80px;
  background: $color-orange;
  display: flex;
  align-items: center;
  color: white;

  .left{
    display: flex;
    align-items: center;
  }

  .right{
    width: 310px;
    display: flex;
    justify-content: space-between;
  }

}
.navBar{
  height: 50px;
  background: $color-gray-lighter;
}

.center{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}