@import "style/variables.scss";
@keyframes animNavPanel{
  from {background-color: white;}
  to {background-color: black}
}
.nav{
  width: 948px;
  height: 50px;
  color: $color-font-gray;
  font-size: $font-normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .4px;
  
  ul{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    
    li{
      display: flex;
      align-items: center;

      a{
        padding: 19px 21px;
        text-decoration: none;
        color: $color-font-gray;
        transition: all .3s;
        position: relative;
        transition-delay: .2s;

        &:hover{
          color: white;
          background: rgba($color: #f26522, $alpha: .5);
        }
        span{
          position: absolute;
          transition: all 0.4s;
          border: 1px solid $color-orange;
          height: 50px;
  
          &:nth-child(1){
            left: -2px;
            top: 0px;
            transform: scale(0);
            transform-origin: top;
          }
          &:nth-child(2){
            right: -1px;
            top: 0px;
            transform: scale(0);
            transform-origin: top;
          }
        }
        &:hover span:nth-child(1){
          transform: scale(1);
        }
        &:hover span:nth-child(2){
          transform: scale(1)
        }
      }
    }
  }
}
